<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Requests</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Request Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < requests.length; i++) { %>
                    <tr>
                        <td><%= requests[i].book_id %></td>
                        <td><%= requests[i].book_title %></td>
                        <td><%= requests[i].request_status %></td>
                        <td>
                            <% if (requests[i].request_status == "approved") { %>
                                <form action="/user/return" method="POST">
                                    <button type="submit" name="book_id" value="<%= requests[i].book_id %>">
                                        return
                                    </button>
                                </form>
                                <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
